/* client/src/index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0ebeb;
}

header {
  background: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: rgb(41, 41, 215);
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}
